.accounts.index.span-14
  %h2= "Your Accounts"

  %table
    %tr
      %th= "Access Key"
      %th &nbsp;

    - @accounts.each do |account|
      %tr
        %td= account.access_key_id
        %td
          = link_to 'manage', account_url(account) if account.memberships.find_by_user_id(current_user.id).is_admin?
          = link_to 'goto', buckets_url(:account_id => account.id)

  
  %p
    = link_to "add a new account", new_account_url
